<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">EduGeoCache</a>
      <button type="button" data-toggle="collapse" data-target="#navbar-main" class="navbar-toggle">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div id="navbar-main" class="navbar-collapse.collapse">
      <ul class="nav navbar-nav">
        <li><a href="/informacije">Informacije o aplikaciji</a></li>
      </ul>
    </div>
  </div>
</div>