doctype html
html(ng-app='edugeocache')
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/bootstrap/css/slate.bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          a.navbar-brand(href='/') EduGeoCache
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-main')
            span.icon-bar
            span.icon-bar
            span.icon-bar
        #navbar-main.navbar-collapse.collapse
          ul.nav.navbar-nav
            li
              a(href='/informacije') Informacije o aplikaciji
    .container
      div(ng-view)
        block content
    
     footer
       .row
         .col-xs-12
           small &copy; Dejan Lavbič 2017

  script(src='/angular/angular.min.js')
  script(src='/lib/angular-route.min.js')
  script(src='/angular/edugeocache.min.js')
  //script(src='/app.js')
  //script(src='/seznam/seznam.krmilnik.js')
  //script(src='/skupno/storitve/edugeocachePodatki.storitev.js')
  //script(src='/skupno/storitve/geolokacija.storitev.js')
  //script(src='/skupno/filtri/formatirajRazdaljo.filter.js')
  //script(src='/skupno/direktive/prikaziOceno/prikaziOceno.direktiva.js')
  script(src='/javascripts/jquery-3.2.1.min.js')
  script(src='/bootstrap/js/bootstrap.min.js')
  script(src='/javascripts/preverjanje.js')